body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F1D9;
    color: #333;
}

header {
    background-color: #191826;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    background-color: #191826;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #121212;
    border-bottom: 1px solid #121212;
    padding-bottom: 5px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer .equipo {
    margin-top: 10px;
    font-size: 1.1em;
}

footer .equipo p {
    margin: 5px 0;
}

